[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
unidecode = "*"

[dev-packages]
hypothesis = "*"
coverage = "*"
sphinx = "*"
recommonmark = "*"

[requires]
python_version = "3.9"
